<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="mainTitle mtl">
    <div class="titleL">INICIAR SESIÓN</div>
</div>

<div class="content">

    <form action="/login" method="POST">

        <div class="divInputsColumn mtxl mbxl">

            <div class="divInput">
                <input type="text" name="user" placeholder="Usuario" class="input1 inputXXL <%= locals.errors && errors.user ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.user : null %>" autocomplete="off">
                <div class="divErrorBE">
                    <% if (locals.errors && errors.user) { %>
                        <%= errors.user.msg %>
                    <% } %>
                </div>        
            </div>

            <div class="">
                <input type="password" name="password" placeholder="Contraseña" class="input1 inputXXL <%= locals.errors && errors.password ? 'isInvalid' : null %>" autocomplete="off">
                <div class="divErrorBE">
                    <% if (locals.errors && errors.password) { %>
                        <%= errors.password.msg %>
                    <% } %>
                </div>
            </div>

        </div>

        <div class="divButtonsRow">
            <button type="submit" class="button1 bl">Ingresar</button>
        </div>

    </form>
</div>
