<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<!------MAIN TITLE------>
<div class="mainTitle">
    PRODUCTOS
</div>

<!------GENERAL ACTIONS------>
<div class="divGeneralActions" id="DGAproducts">
    <div class="divGeneralAction" id="DGAcreateProduct">
        <i class="fa-solid fa-plus"></i>
        <div class="showActionPopup">
            Crear producto
        </div>        
    </div>
</div>

<!--------GENERAL FILTERS-------->
<div class="mainFilters">
    <div class="divInputsRow">            
        <div class="divInput">
            <label class="label1">Tipo de producto</label>
            <input type="text" id="filterType" class="input1 ixs ipm" autocomplete="off">
            <ul class="predictedElements" id="filterTypePredicted"></ul>
        </div>
        <div class="divInput">
            <label class="label1">C贸digo</label>
            <input type="text" id="filterCode" class="input1 ixs ipm" autocomplete="off">
        </div>
        <div class="divInput">
            <label class="label1">Descripci贸n</label>
            <input type="text" id="filterDescription" class="input1 il ipm" autocomplete="off">
            <ul class="predictedElements" id="filterDescriptionPredicted"></ul>
        </div>
        
        <div class="unfilterIcon" id="unfilter">
            <i class="fa-solid fa-filter-circle-xmark"></i>
        </div>
    </div>    
</div>

<!---------PRODUCTS TABLE--------->
<div class="mtm">
    <div class="divTable" id="productsTable">
        <div class="tableInfo" id="vcppInfo">Colores</div>
        <div class="tableInfo" id="vsppInfo">Talles</div>
        
        <table>
            <thead>
                <tr>
                    <th class="theadCss wXS thLeftBorder thTall">C贸digo</th>
                    <th class="theadCss wXL thTall">Descripci贸n</th>
                    <th class="theadCss wS thTall">Tipo</th>
                    <th class="theadCss wL thTall">Tela</th>
                    <th class="theadCss wXXL thTall">Producto</th>
                    <th class="theadCss wM thTall">Precio</th>
                    <th class="theadCss wL thTall">Colores</th>
                    <th class="theadCss wM thTall">Talles</th>
                    <th class="theadCss wXXS thTall thRightBorder"><i class="fa-regular fa-pen-to-square"></i></th>
                </tr>
            </thead>
            <tbody id="bodyProducts"></tbody>
        </table>
        
    </div>
    
</div>

<!----------LOADER---------->
<div class="loader" id="productsLoader" ></div>

<!----------POPUPS---------->
<%- include('./productsCPPP') %>
<%- include('./productsESPP') %>
<%- include('./productsECPP') %>
<%- include('../data/dataCDPP') %>


<!----------SCRIPTS---------->
<script type="module" src="/js/cuttings/products/products.js"></script>


