<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<!------MAIN TITLE------>
<div class="mainTitle">PEDIDO EN CURSO</div>

<!------GENERAL ACTIONS------>
<div class="divGeneralActions" id="DGAorders">
    <div class="divGeneralAction" id="DGAcreateOrder">
        <i class="fa-solid fa-plus"></i>
        <div class="showActionPopup">
            Crear pedido
        </div>        
    </div>
    <div class="divGeneralAction">
        <i class="fa-brands fa-whatsapp"></i>
        <div class="showActionPopup">
            Solicitar pagos
        </div>
    </div>
</div>

<div class="DGAerrors" id="DGAordersErrors">
    <div class="" id="DGAcreateOrderError">- Debe seleccionar un cliente</div>
    <div class="" id="selectChannelError">- Debe seleccionar el canal Dif1 ó Dif2</div>
</div>



<!--------GENERAL FILTERS-------->
<div class="mainFilters">
    <div class="divInputsRow">            
        <div class="divInput">
            <label class="label1" id="filterCustomerLabel">Cliente</label>
            <select id="filterCustomer" class="input1 inputL">
                <option value="default"></option>
                <% customers.forEach(customer => { %>
                    <option value="<%= customer.customer_name %>">
                        <%= customer.customer_name %>
                    </option>
                <% }) %>
            </select>            
        </div>
        <div class="divInput">
            <label for="selectOrder" class="label1"># Pedido</label>
            <select name="selectOrder" id="filterOrder" class="input1 inputL">
                <option value="default"></option>
                <% orders.forEach(order => { %>
                    <option value="<%= order.order_number %>">
                        <%= order.order_number %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="divInput">
            <label for="selectOrderManager" class="label1">Encargado</label>
            <select name="selectOrderManager" id="filterOrderManager" class="input1 inputL">
                <option value="default"></option>
                <% ordersManagers.forEach(manager => { %>
                    <option value="<%= manager.id %>">
                        <%= manager.order_manager_name %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="divInput">
            <label for="selectOrderStatus" class="label1">Estado</label>
            <select name="selectOrderStatus" id="filterOrderStatus" class="input1 inputL">
                <option value="default"></option>
                <% ordersStatus.forEach(status => { %>
                    <option value="<%= status.id %>">
                        <%= status.order_status %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="divInput">
            <label for="selectPaymentStatus" class="label1">Estado del pago</label>
            <select name="selectPaymentStatus" id="filterPaymentStatus" class="input1 inputL">
                <option value="default"></option>
                <% paymentsStatus.forEach(status => { %>
                    <option value="<%= status.id %>">
                        <%= status.payment_status %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div id="unfilterOrders">
            <i class="fa-solid fa-filter-circle-xmark"></i>
        </div>
    </div>    
</div>


<!--------CHANNEL FILTERS-------->
<div class="mainFilters">
    <div class="divInputsRow">            
        <div class="divCheckbox1">
            <input type="checkbox" name ="allChannels" id="allChannels" value="allChannels" checked>
            <label for="allChannels">Todos</label><br>
        </div>
        <div class="divCheckbox1">
            <input type="checkbox" id="Dif1" value="Dif1" checked>
            <label>Difusión1</label><br>
        </div>
        <div class="divCheckbox1">
            <input type="checkbox" id="Dif2" value="Dif2" checked>
            <label>Difusión2</label><br>
        </div>
        <div class="divCheckbox1">
            <input type="checkbox" name ="onlinePandW" id="WebAyR" value="WebAyR" checked>
            <label>Web AyR</label><br>
        </div>
        <div class="divCheckbox1">
            <input type="checkbox" name ="onlineT" id="WebT" value="WebT" checked>
            <label>Web T</label><br>
        </div>
    </div>
</div>

<!---------ORDERS TABLE--------->

<div class="mts">
    <div class="divTable">

        <div class="tableInfo" id="eoppInfo">Editar pedido</div>
        <div class="tableInfo" id="rpppInfo">Registrar pago</div>
        <div class="tableInfo" id="doppInfo">Registrar entrega</div>
        <div class="tableInfo" id="amppInfo">Asignar / Cambiar encargado</div>
        <div class="tableInfo" id="coppInfo">Cancelar orden</div>

        <table>
            <thead>
                <tr>
                    <th class="theadCss wXS thLeftBorder thTall"># Pedido</th>
                    <th class="theadCss wXS thTall">Fecha</th>
                    <th class="theadCss wS thTall">Canal</th>
                    <th class="theadCss wM thTall">Cliente</th>
                    <th class="theadCss wXS thTall">Subtotal</th>
                    <th class="theadCss wXS thTall">Dto %</th>
                    <th class="theadCss wXS thTall">Total</th>
                    <th class="theadCss wXS thTall">Pagado</th>
                    <th class="theadCss wXS thTall">Saldo</th>                    
                    <th class="theadCss wS thTall">Estado</th>
                    <th class="theadCss wS thTall">Pago</th>
                    <th class="theadCss wM thTall">Encargado</th>                    
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-pen-to-square tableIcon" id="eoppIcon"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-credit-card tableIcon" id="rpppIcon"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-solid fa-truck-ramp-box tableIcon" id="doppIcon"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-solid fa-user-pen tableIcon" id="amppIcon"></i></th>
                    <th class="theadCss wXXS thTall thRightBorder"><i class="fa-solid fa-ban tableIcon" id="coppIcon"></i></th>
                </tr>
            </thead>
            <tbody id="bodyOrders"></tbody>
        </table>
    </div>
    
</div>

<!----------LOADER---------->
<div class="loader" id="ordersLoader" ></div>

<%- include('./ordersPopups') %>
<%- include('./ordersCreateEdit') %>
<script type="module" src="/js/sales/orders/orders.js"></script>
