<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="notVisible" id="userLogged"><%= userLogged.first_name %></div>

<!------MAIN TITLE------>
<div class="mainTitle mbm">
    DIFUSIÓN - RESUMEN DE PEDIDOS EN CURSO
    <div class="divCheckbox1 mbm" id="showCanceledDiv">
        <input type="checkbox" id="showCanceled">
        <label>Mostrar cancelados</label><br>
    </div>    
</div>

<!------GENERAL ACTIONS------>
<div class="divGeneralActions" id="DGAorders">
    <div class="divGeneralAction" id="DGAcreateOrder">
        <i class="fa-solid fa-plus"></i>
        <div class="showActionPopup">
            Crear pedido
        </div>        
    </div>
    <div class="divGeneralAction notVisible"id="DGAregisterPayment">
        <i class="fa-regular fa-credit-card"></i>
        <div class="showActionPopup">
            Registrar pago
        </div>
    </div>
    <div class="divGeneralAction notVisible" id="DGAmovementsDetails">
        <i class="fa-solid fa-magnifying-glass-plus"></i>
        <div class="showActionPopup">
            Detalle de movimientos
        </div>
    </div>
    <div class="divGeneralAction notVisible" id="DGAbalance">
        <i class="fa-solid fa-circle-info"></i>
        <div class="showActionPopup">
            Resumen de saldo
        </div>
    </div>
    
</div>

<div class="DGAerrors" id="DGAordersErrors">
    <div class="" id="DGAcreateOrderError">- Cliente inválido</div>
    <div class="" id="selectChannelError">- Debe seleccionar el canal Dif1 ó Dif2</div>
</div>

<!--------GENERAL FILTERS-------->
<div class="mainFilters">
    <div class="divInputsRow">            
        <div class="divInput">
            <label class="label1" id="filterCustomerLabel">Cliente</label>
            <input type="text" id="filterCustomer" class="input1 im ips" autocomplete="off">
            <ul class="predictedElements" id="ulPredictedCustomers"></ul>
        </div>
        <div class="divInput">
            <label for="selectOrder" class="label1"># Pedido</label>
            <input type="text" id="filterOrder" class="input1 ixs ips" autocomplete="off">
        </div>
        <div class="divInput">
            <label for="selectOrderManager" class="label1">Encargado</label>
            <select name="selectOrderManager" id="filterOrderManager" class="input1 ixs ips">
                <option value=""></option>
                <% ordersManagers.forEach(manager => { %>
                    <option value="<%= manager.id %>">
                        <%= manager.order_manager_name %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="divInput">
            <label for="selectOrderStatus" class="label1">Estado</label>
            <select name="selectOrderStatus" id="filterOrderStatus" class="input1 ixs ips">
                <option value=""></option>
                <% ordersStatus.forEach(status => { %>
                    <option value="<%= status.id %>">
                        <%= status.order_status %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div class="divInput">
            <label for="selectPaymentStatus" class="label1">Estado del pago</label>
            <select name="selectPaymentStatus" id="filterPaymentStatus" class="input1 is ips">
                <option value=""></option>
                <% paymentsStatus.forEach(status => { %>
                    <option value="<%= status.id %>">
                        <%= status.payment_status %>
                    </option>
                <% }) %>
            </select>
        </div>
        <div id="unfilterOrders">
            <i class="fa-solid fa-filter-circle-xmark"></i>
        </div>
    </div>    
</div>


<!--------CHANNEL FILTERS-------->
<div class="mainFilters">
    <div class="divInputsRow">            
        <div class="divCheckbox1">
            <input type="checkbox" id="channel_1" value="Dif1">
            <label>Difusión1</label><br>
        </div>
        <div class="divCheckbox1">
            <input type="checkbox" id="channel_2" value="Dif2">
            <label>Difusión2</label><br>
        </div>
    </div>
</div>

<!--------TABLE DATA-------->
<div class="tableSummary">    
    <div id="orderTotal"></div>
    <div id="ordersAmountPaid"></div>
    <div id="ordersBalance"></div>
    <div id="positiveBalance"></div> 
    <div id="notes"></div>    
</div>

<!---------ORDERS TABLE--------->
<div class="mts">
    <div class="divTable" id="ordersTable">
        <div class="tableInfo" id="eoppInfo">Editar pedido</div>
        <div class="tableInfo" id="rpppInfo">Registrar pago</div>
        <div class="tableInfo" id="pvppInfo">Verificar pago</div>
        <!-- <div class="tableInfo" id="doppInfo">Registrar entrega</div> -->
        <div class="tableInfo" id="amppInfo">Asignar encargado</div>
        <div class="tableInfo" id="obppInfo">Observaciones</div>
        <div class="tableInfo" id="coppInfo">Cancelar orden</div>
        
        <table>
            <thead>
                <tr>
                    <th class="theadCss wXS thLeftBorder thTall"># Pedido</th>
                    <th class="theadCss wXS thTall">Temporada</th>
                    <th class="theadCss wXS thTall">Fecha</th>
                    <th class="theadCss wXS thTall">Canal</th>
                    <th class="theadCss wS thTall">Cliente</th>
                    <th class="theadCss wS thTall">Subtotal</th>
                    <th class="theadCss wXXS thTall">Dto %</th>
                    <th class="theadCss wS thTall">Total</th>
                    <th class="theadCss wXS thTall">Pagado</th>
                    <th class="theadCss wS thTall">Saldo</th>                    
                    <th class="theadCss wXS thTall">Estado</th>
                    <th class="theadCss wS thTall">Pago</th>
                    <th class="theadCss wS thTall">Encargado</th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-pen-to-square tableIcon" id="eoppIcon"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-credit-card tableIcon" id="rpppIcon"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-square-check tableIcon" id="pvppIcon"></i></th>
                    <!-- <th class="theadCss wXXS thTall"><i class="fa-solid fa-truck-ramp-box tableIcon" id="doppIcon"></i></th> -->
                    <th class="theadCss wXXS thTall"><i class="fa-solid fa-user-pen tableIcon" id="amppIcon"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-comment tableIcon" id="obppIcon"></i></th>
                    <th class="theadCss wXXS thTall thRightBorder"><i class="fa-regular fa-circle-xmark tableIcon" id="coppIcon"></i></th>
                </tr>
            </thead>
            <tbody id="bodyOrders"></tbody>
        </table>
        
    </div>
    
</div>

<!----------LOADER---------->
<div class="loader" id="ordersLoader" ></div>

<!----------POPUPS---------->
<%- include('./ordersCEOPP') %>
<%- include('./ordersCMPP') %>
<%- include('./ordersRCPPP') %>
<%- include('./ordersSCPP') %>
<%- include('./ordersEODPP') %>
<%- include('./ordersEPSPP') %>
<%- include('./ordersEPCPP') %>
<%- include('./ordersOLOPP') %>
<%- include('./ordersRPPP') %>
<%- include('./ordersCBPP') %>
<%- include('./ordersPopups') %>
<%- include('./ordersSCHPP') %>
<%- include('./ordersAEPPP') %>
<%- include('../paymentMethods/paymentMethodsCPMPP') %>
<%- include('../../cuttings/products/productsCPPP') %>
<%- include('../../cuttings/products/productsESPP') %>
<%- include('../../cuttings/products/productsECPP') %>
<%- include('../../cuttings/data/dataCDPP') %>
<%- include('../../partials/okPopup') %>
<%- include('../../partials/resultsPopups') %>
<%- include('../../partials/errorPopup') %>
<%- include('../../partials/confirmPopup') %>
<%- include('./ordersEPPP') %>
<%- include('../../partials/loaders') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/sales/orders/orders.js"></script>
