<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="mainTitleWfilters">

    <div class="titleL">Pedidos en curso</div>

    <div class="mainTitleFilters">
        <!--------FILTERS-------->
        <div class="divInputsRow">
            
            <div class="divInput">
                <label class="label1">Cliente</label>
                <select id="filterCustomer" class="input1 inputL inputFilter">
                    <option value="default"></option>
                    <% customers.forEach(customer => { %>
                        <option value="<%= customer.customer_name %>">
                            <%= customer.customer_name %>
                        </option>
                    <% }) %>
                </select>
            </div>

            <div class="divInput">
                <label for="selectOrder" class="label1"># Pedido</label>
                <select name="selectOrder" id="filterOrder" class="input1 inputL inputFilter">
                    <option value="default"></option>
                    <% orders.forEach(order => { %>
                        <option value="<%= order.order_number %>">
                            <%= order.order_number %>
                        </option>
                    <% }) %>
                </select>
            </div>

            <div class="divInput">
                <label for="selectOrderManager" class="label1">Encargado</label>
                <select name="selectOrderManager" id="filterOrderManager" class="input1 inputL inputFilter">
                    <option value="default"></option>
                    <% ordersManagers.forEach(manager => { %>
                        <option value="<%= manager.order_manager_name %>">
                            <%= manager.order_manager_name %>
                        </option>
                    <% }) %>
                </select>
            </div>

            <div class="divInput">
                <label for="selectOrderStatus" class="label1">Estado</label>
                <select name="selectOrderStatus" id="filterOrderStatus" class="input1 inputL inputFilter">
                    <option value="default"></option>
                    <% ordersStatus.forEach(status => { %>
                        <% if (status.order_status != 'Entregado') { %>
                            <option value="<%= status.order_status %>">
                                <%= status.order_status %>
                            </option>
                        <% } %>
                    <% }) %>
                </select>
            </div>

            <div class="divInput">
                <label for="selectPaymentStatus" class="label1">Estado del pago</label>
                <select name="selectPaymentStatus" id="filterPaymentStatus" class="input1 inputL inputFilter">
                    <option value="default"></option>
                    <option value="paid">Pagado</option>
                    <option value="unpaid">Pendiente</option>
                    
                </select>
            </div>

            <div id="unfilterOrders">
                <i class="fa-solid fa-filter-circle-xmark"></i>
            </div>

        </div>
    
        <div class="divInputsRow mtm">
            
            <div class="divCheckbox">
                <input type="checkbox" name ="allChannels" id="allChannels" value="allChannels">
                <label for="allChannels">Todos</label><br>
            </div>

            <div class="divCheckbox">
                <input type="checkbox" id="dif1" value="dif1">
                <label>Difusión1</label><br>
            </div>

            <div class="divCheckbox">
                <input type="checkbox" id="dif2" value="dif2">
                <label>Difusión2</label><br>
            </div>

            <div class="divCheckbox">
                <input type="checkbox" name ="onlinePandW" id="onlinePandW" value="onlinePandW">
                <label for="onlinePandW">Online AyR</label><br>
            </div>

            <div class="divCheckbox">
                <input type="checkbox" name ="onlineT" id="onlineT" value="onlineT">
                <label for="onlineT">Online T</label><br>
            </div>        

        </div>  

    </div>

</div>

<div class="contentWfilters">

    <!---------GENERAL ACTIONS--------->
    <div class="divGeneralActions" id="DGAorders">
        <div class="divGeneralAction" id="createEditOrder">
            <i class="fa-solid fa-plus"></i>
            <div class="showActionPopup">
                Crear pedido
            </div>
        </div>

        <div class="divGeneralAction">
            <i class="fa-brands fa-whatsapp"></i>
            <div class="showActionPopup">
                Solicitar pagos
            </div>
        </div>
    </div>

    <!---------ORDERS TABLE--------->
    <div class="divTable ma mtxxl">
        <table>
            <thead>
                <tr>
                    <th class="theadCss wXS thLeftBorder thTall"># Pedido</th>
                    <th class="theadCss wXS thTall">Fecha</th>
                    <th class="theadCss wS thTall">Canal</th>
                    <th class="theadCss wM thTall">Cliente</th>
                    <th class="theadCss wXS thTall">Subtotal</th>
                    <th class="theadCss wXS thTall">Dto %</th>
                    <th class="theadCss wXS thTall">Total</th>
                    <th class="theadCss wS thTall">Saldo</th>                    
                    <th class="theadCss wS thTall">Estado</th>
                    <th class="theadCss wS thTall">Encargado</th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-pen-to-square"></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-regular fa-credit-card"></i></i></th>
                    <th class="theadCss wXXS thTall"><i class="fa-solid fa-truck-ramp-box"></i></th>
                    <th class="theadCss wXXS thTall thRightBorder"><i class="fa-solid fa-ban"></i></i></i></th>
                </tr>
            </thead>
            <tbody id="bodyOrders"></tbody>
        </table>
    </div>
    
</div>

<%- include('./ordersCreateEdit') %>
<script type="module" src="/js/orders.js"></script>
