<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="notVisible" id="userLogged"><%= userLogged.first_name %></div>

<!------MAIN TITLE------>
<div class="mainTitle">DETALLE DE PEDIDOS EN CURSO</div>

<!------GENERAL ACTIONS------>
<div class="divGeneralActions" id="DGAordersDetails">
    <div class="divGeneralAction" id="DGAaddProduct">
        <i class="fa-solid fa-plus"></i>
        <div class="showActionPopup">
            Asignación masiva
        </div>        
    </div>
</div>

<!--------GENERAL FILTERS-------->
<div class="mainFilters">
    <div class="divInputsRow">
        <div class="divInput">
            <label class="label1" id="filterOrderLabel">#Pedido</label>
            <input type="text" class="input1 ixxs ips" id="filterOrder" autocomplete="off">
            <ul class="predictedElements" id="ulPredictedOrders"></ul>
        </div>
        <div class="divInput">
            <label class="label1" id="filterCustomerLabel">Cliente</label>
            <input type="text" class="input1 im ips" id="filterCustomer" autocomplete="off">
            <ul class="predictedElements" id="ulPredictedCustomers"></ul>
        </div>
        <div class="divInput">
            <label class="label1" id="filterProductLabel">Producto</label>
            <input type="text" class="input1 il ips" id="filterProduct" autocomplete="off">
            <ul class="predictedElements" id="ulPredictedProducts"></ul>
        </div>
        <div class="divInput">
            <label class="label1">Canal</label>
            <select id="filterChannel" class="input1 ixxs sps">
                <option value=""></option>
                <option value="1">Dif1</option>
                <option value="2">Dif2</option>
            </select>
        </div>
        <!-- <div class="divInput">
            <label class="label1">Desde</label>
            <input type="date" class="input1 ixxs sps" id="filterFrom">
        </div>
        <div class="divInput">
            <label class="label1">Hasta</label>
            <input type="date" class="input1 ixxs sps" id="filterUntil">
        </div>         -->
        <div class="divInput">
            <label class="label1">Estado de la orden</label>
            <select id="filterOrderStatus" class="input1 ixs sps">
                <option value="default"></option>
                <option value="complete">Completo</option>
                <option value="incomplete">Incompleto</option>
            </select>
        </div>
        <div class="divInput">
            <label class="label1">Estado del artículo</label>
            <select id="filterItemStatus" class="input1 ixs sps">
                <option value=""></option>
                <option value="complete">Completo</option>
                <option value="incomplete">Incompleto</option>
            </select>
        </div>
        <div class="divInput">
            <label class="label1">Encargado</label>
            <select id="filterOrderManager" class="input1 ixxs sps">
                <option value="default"></option>
                <% ordersManagers.forEach(manager => { %>
                    <option value="<%= manager.id %>">
                        <%= manager.order_manager_name %>
                    </option>
                <% }) %>
            </select>
        </div>

        <div id="unfilterOrdersDetails" class="unfilterIcon" >
            <i class="fa-solid fa-filter-circle-xmark"></i>
        </div>
    </div>    
</div>

<!--------TABLE DATA-------->
<div class="tableSummary mts">    
    <div id="totalAmount"></div>
    <div id="itemsQuantity"></div>
</div>

<!---------ORDERS DETAILS TABLE--------->
<div class="mts">
    <div class="divTable">

        <div class="tableInfo" id="elppInfo">Editar línea</div>
        <div class="tableInfo" id="loppInfo">Ver observ.</div>
        <div class="tableInfo" id="dlppInfo">Eliminar item</div>
        
        <div class="divTable" id="ordersDetailsTable">
            <table>
                <thead>
                    <tr>
                        <th class="theadCss wXS thLeftBorder thTall"># Pedido</th>
                        <th class="theadCss wXXS thTall">Canal</th>
                        <th class="theadCss wM thTall">Cliente</th>
                        <th class="theadCss wXL thTall">Producto</th>
                        <th class="theadCss wXS thTall">Talles</th>
                        <th class="theadCss wL thTall">Colores</th>
                        <th class="theadCss wXS thTall">Precio</th>
                        <th class="theadCss wXXS thTall">Cantidad confirmada</th>
                        <th class="theadCss wS thTall">Cantidad requerida</th>
                        <th class="theadCss wS thTall">Total</th>
                        <th class="theadCss wXS thTall">Estado del pedido</th>
                        <th class="theadCss wXS thTall">Última edición</th>                 
                        <th class="theadCss wXXS thTall"><i class="fa-regular fa-pen-to-square tableIcon" id="elppIcon"></i></th>
                        <th class="theadCss wXXS thTall"><i class="fa-regular fa-comment tableIcon" id="loppIcon"></i></th>
    
                        <th class="theadCss wXXS thTall thRightBorder"><i class="fa-regular fa-trash-can tableIcon" id="dlppIcon"></i></th>
                    </tr>
                </thead>
                <tbody id="bodyOrdersDetails"></tbody>
            </table>
        </div>
        
    </div>
    
</div>

<!----------LOADER---------->
<div class="loader" id="ordersDetailsLoader" ></div>

<!----------POPUPS---------->
<%- include('./ordersDetailsAPPP') %>
<%- include('./ordersDetailsLOPP') %>
<%- include('./ordersDetailsELPP') %>
<%- include('./ordersDetailsELCPP') %>
<%- include('./ordersDetailsELSPP') %>
<%- include('./ordersDetailsPopups') %>
<%- include('../../partials/okPopup') %>
<%- include('../../partials/resultsPopups') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/sales/ordersDetails/ordersDetails.js"></script>

